{% extends "blog/base.html" %}

{% block content %}
    {% for post in posts %}
    <article class="media content-section">
        <div class="blog-entry">
            <h2><a href="{% url 'blog-detail' post.id %}">{{ post.title }}</a></h2>
            <p>{{ post.text|truncatechars:100 }}</p>
            <!-- <p>Tags:  {% for tag in post.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p> -->
            <p>Tags: {{ post.tags }}</p>
            <p>Author: {{ post.author }}</p>
            <p>Date posted: {{ post.date_posted }}</p>
            {% if user == post.author %}
            <form action="{% url 'blog-delete' post.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            {% endif %}
        </div>
    </article>
    {% endfor %}
{% endblock content %}
